# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints 
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Environment variables
.env

# ML models
co2_model/
cost_model/
*.pkl
*.joblib

# Dataset files
Ecopack-dataset*.csv
final_product_dataset*.csv

# Logs / temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
#database 
db.py